<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

    <title>MercadoLiebre</title>
</head>
<body>
    <header class="index-header">
        <div class="contenedor-header-superior">
            <img src="images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            <form action="#" action="POST" class="contenedor-barra-busqueda">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="contenedor-copy">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="contenedor-header-inferior">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras<i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>
        <i class="fa-solid fa-bars hamburgeza"></i>
    </header>

    <main class="main-login">
        <form action="#" method="POST" class="login-formulario">
            <input type="text" placeholder="Nombre de usuario">
            <input type="password" placeholder="Password">
            <button type="submit">INGRESAR</button>
        </form>


    </main>


    <footer class="index-footer">
        <div class="index-footer-contenedor">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                         puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </div>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>