*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #666;
}

.index-header{
    padding: 20px;
    background-color: #EAC926;
    width: 100%;
}

.contenedor-header-superior{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.contenedor-header-superior img{
    width: 50%;
    margin-bottom: 15px;
}

.contenedor-barra-busqueda input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contenedor-barra-busqueda button{
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contenedor-copy {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hamburgeza{
    background-color: #1259c3;
    display: block;
    width: 50px;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
}

.contenedor-header-inferior{
    display: none;
    max-width: 1000px;
    margin: auto;
}

a{
    text-decoration: none;
}

a i{
    margin-left: 5px ;
}

/*ESTILOS DEL MAIN*/

.main-banner{
    width: 100%;
}

.index-main{
    background-color: #ebebeb;
    padding-bottom: 15px;
}

.index-main section{
    width: 90vw;
    margin: auto;
}

.index-main section article{
    margin-bottom: 10px;
}

.main-article-imagen{
    width: 100%;
}

.contenedor-detalle{
    background-color: #fff;
    position: relative;
}

.main-article-descripcion{
    display: none;
    padding: 15px;
    font-size: 16px;
}

.contenedor-detalle i{
    border: 1px solid #39b54a;
    color: #39b54a;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #fff;
}


.contenedor-precio-descuento{
    display: flex;
    padding: 15px;
    align-items: center;
}

.main-article-precio{
   width: 40%;
   font-size: 18px;
}

.main-article-descuento{
    color: #39b54a;
    width: 60%;
    font-size: 16px;
}

.main-section-subtitulo{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
}

/*ESTILOS DEL FOOTER*/

.index-footer{
    text-align: center;
    padding: 30px;
}

.index-footer div  i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 5px;
}

.index-footer div h3{
    font-size: 16px;
}

.index-footer div p{
    margin-bottom: 25px;
    font-size: 12px;
}

.index-footer > p{
    font-size: 12px;
    text-align: left;
}


/*ESTILOS PARA EL ARCHIVO DE LOGIN.HTML*/

.main-login{
    padding: 40px 10px;
    background-color: #ebebeb;
}

.login-formulario input{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.login-formulario button{
    margin: auto;
    display: block;
    background-color: #1259c3;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

/*ESTILOS PARA EL ARCHIVO DE REGISTER.HTML*/

.register-main-formulario{
    padding: 40px;
    background-color: #ebebeb;
}

.register-formulario input{
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.contenedor-opciones-checkbox{
    display: flex;
    align-items: center;
}

.contenedor-opciones-checkbox label{
    width: 40px;

}

.register-formulario button{
    background-color: #1259c3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.register-formulario label{
    display: block;
    margin-bottom: 10px;
}

.register-botones-contenedor{
    text-align: center;    
    margin-top: 40px;
}

.register-boton-envio:hover{
    background-color: #0022AA;
}

/*TABLET*/

@media(min-width: 361px){

    .index-main-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .index-main-section article {
        width: 47%;
        margin: 5px;
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }

    .index-main-section article:hover .main-article-descripcion{
        display: block;
    }

}

/*DESKTOP*/
@media(min-width:769px){

    .contenedor-header-superior img{
        width: 33%;
    }

    .contenedor-copy{
        width: 33%;
    }

    .contenedor-header-superior{
        justify-content: space-between;
    }

    .hamburgeza{
        display: none;
    }

    .contenedor-header-inferior{
        display: flex;
        justify-content: space-between;
    }

    .contenedor-header-inferior ul{
        display: flex;
        list-style: none;
    }

    .contenedor-header-inferior li{
        margin-left: 10px;
    }

    .index-main-section article {
        width: 20%;
        margin: 5px;
    }

    .contenedor-detalle i:hover{
        transform: rotate(270deg) ;
    }

    .index-footer-contenedor{
        display: flex;
    }

    .login-formulario{
        max-width: 600px;
        margin: auto;
    }

    .register-formulario{
        max-width: 600px;
        margin: auto;
    }

}